.users-page {
  padding: 30px;
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-actions {
  display: flex;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pages button {
  padding: 6px 10px;
  border: 1px solid #e5e7eb;
  background: white;
  margin-left: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.pages .active {
  background: #4f46e5;
  color: white;
}

/* MOBILE */

@media (max-width: 768px) {

  .users-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .header-actions {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
    text-align: center;
  }

}